# Prueba de representación

## Paquetes

In [11]:
import numpy as np
import re
import pandas as pd
from importlib import reload
import os
import sys
import inspect

parentdir = r'F:\Clase\Universidad\04 - Cuarto\TFG\DQM-DC NMF'

sys.path.append(parentdir)


import utils.df_utils as df_utils
import utils.plot_utils as plot_utils

pd.set_option('colheader_justify', 'center')

import functools

import matplotlib.pyplot as plt
# %matplotlib qt
plt.rcParams['figure.dpi'] = 300
plt.rcParams["figure.figsize"] = (3,2)
plt.rcParams.update({'font.size': 6})

import datetime
import logging
timestamp = datetime.datetime.utcnow().strftime('%Y%m%d')
filename=f'{parentdir}/tmp/read_data_{timestamp}.log'
formatter = logging.Formatter('[%(asctime)s] %(name)s {%(filename)s:%(lineno)d} %(levelname)s - %(message)s')

file_handler = logging.FileHandler(filename=filename, mode='a+')
file_handler.setLevel(logging.DEBUG)
file_handler.setFormatter(formatter)

stream_handler = logging.StreamHandler(sys.stdout)
stream_handler.setLevel(logging.INFO)

# The handlers have to be at a root level since they are the final output
logging.basicConfig(
    level=logging.DEBUG, 
    format='[{%(filename)s:%(lineno)d} %(levelname)s - %(message)s',
    handlers=[
        file_handler,
        stream_handler
    ]
)

logging.info(f'\n\n\nRun at {datetime.datetime.utcnow().strftime("%H-%M-%S")}')

[{3291413173.py:52} INFO -


Run at 10-53-02

## Código

### Lectura del dataset

Creamos una tabla de archivos.

In [12]:
names = np.array([f.split('.')[0] for f in os.listdir(f'{parentdir}/data/csv') if os.path.isfile(os.path.join(f'{parentdir}/data/csv', f))])

cols =['chi2','eta','phi','pt']
inds = ['A','B','C','D']

names_df  =pd.DataFrame(names.reshape(4,4).T, index=inds,columns=cols)
df_utils.df_pprint(names_df,head=-1)

Escogemos un observable en un periodo.

In [13]:
observable = 'eta'
file = pd.read_csv(f'{parentdir}/data/csv/'+names_df.at['A',observable]+'.csv')

file['histo'] = file['histo'].apply(df_utils.str2arr)



df_utils.df_pprint(file)

Guardamos el histograma en una carpeta.

In [20]:
reload(plot_utils)
_= [plot_utils.plot_df2hist(file,row,path=f'{parentdir}/graphs/test_all_{observable}') for row in range(20)]

In [15]:
print(np.histogram(file['labels'],bins=(0,0.5,1)))

(array([  643, 51261], dtype=int64), array([0. , 0.5, 1. ]))

<__array_function__ internals>:5: RuntimeWarning: Converting input from bool to <class 'numpy.uint8'> for compatibility.